@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: #374151;
}

:root {
  --primary-color: #60a5fa;
  --secondary-color: #bfdbfe;
  --third-color: #eff6ff;
}

.header {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem 0;
}

.header-nav {
  padding: 1rem;
}

.container {
  display: flex;
}
.main-section {
  background-color: var(--third-color);
  text-align: center;
  width: 70%;
  order: -1;
}

.aside {
  width: 30%;
  background-color: var(--secondary-color);
  padding: 1rem 1rem;
}

.aside-heading {
  text-align: center;
  padding-bottom: 1rem;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.image img {
  width: 80%;
}

.txt-input {
  padding: 2rem;
  width: 60%;
  margin: 2rem;
}

.btn {
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--primary-color);
}

.btn-heading {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: large;
  font-weight: bold;
}
.output {
  border: 1px solid;
  height: 8vh;
  width: 60%;
  margin: 0 auto;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-para {
  width: 50%;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: large;
}
